{% extends "Blog/base.html" %}
{% block content %}
{% load cool_view %}
<legend class="heading"> All categories </legend>
<div class="all-tags">
    {% for category, count in categories.items %}
    <div class="tag-details m-2">
        <div class="article-tags tag-name truncate-string">
            <a class="{{category}}" title="Articles under the category {{category}}" href="{% url 'Blog:categorised' category.slug %}">{{category|title}}</a>
        </div>
        <div class="tag-count">
        {% if count == 1 %}
            <h6>{{ count }} article<h6>
        {% else %}
            <h6>{{ count|cool_view }} articles<h6>
        {% endif %}
        </div>
    </div>
    {% endfor %}
        
</div>
{% endblock content %}