{% load cool_num %}
<div class="article-thumbnail">
{% if latest_featured == 1 %}
    <img src="{{post.image.url}}" alt="{{post.title}}" title="{{post.title}}">
{% else %}
    <img src="{{post.thumbnail.url}}" alt="{{post.title}}" title="{{post.title}}">
{% endif %}
</div>
<div class="col article-container">
    <h{{font|default:6}}><a class="article-title" href="{% url 'Blog:post-detail' post.date_posted.year post.date_posted.month post.date_posted.day post.slug %}">{{ post.title|truncatechars:'80' }}</a></h5>
</div>
<div class="article-metadata">
    <small class="text"><a class="mr-1" href="{% url 'Blog:user-posts' post.author.username %}">{{ post.author }}</a></small>
    <small class="text-muted">{{ post.date_posted|date:"j M Y" }}</small>
    <small class="text-muted ml-2" title={{post.views}}>views:{{post.views|cool_num}}</small>
</div>
