# Don't track content of these folders

# VS Code Directory #
########################
*.vscode

# Cached Python Files #
########################
**/__pycache__/**

# Binary python files
*.py[c|o|d]

# database and data files
db.sqlite3
*.json

# assets
assets/**