# Don't track content of these folders

# VS Code Directory #
########################
*.vscode
*.swp

# venv
venv/
.venv/

# coverage
.coverage

# Cached Python Files #
########################
**/__pycache__/**

# Binary python files
*.py[c|o|d]

# database and data files
db.sqlite3
*.json

# assets
assets/**

# media files
media/**

# log files
*.log
