  {% if recommend %}
      {% include 'heading.html' with heading='Other Articles to read' %}
  {% else %}
      {% url 'post:latest-posts' as link %}
      {% include 'heading.html' with heading='Latest' view_more_url=link %}
  {% endif %}
  <div class="container-fluid">
    <div class="row no-gutters latest-articles">
        {% for post in posts %}
        {% comment %} label is used for displaying featured articles and is used inside 'post_featured_home.html' {% endcomment %}
        <div class="{{label}} article-card col-md-4 col-sm-12">
            {% include "post_card_home.html" %}
        </div>
        {% endfor %}
      </div>
  </div>
