{% extends "post/base.html" %}
{% load static %}
{% block content %}

    <h1>About</h1>

<article class="about m-2">
    <p>
        <a href="{% url 'post:home' %}" title="HackAdda Home">HackAdda</a> is an online blog that aims to increase the technical awareness around the world. We bring you the latest developments in the field of
         {% comment %} <a href="{% url 'post:categorised' 'science'%}" title="Article under the category Science">Science</a>, {% endcomment %}
         <a href="{% url 'post:categorised' 'coding'%}" title="Article under the category Coding">Coding</a>,
         <a href="{% url 'post:categorised' 'robotics'%}" title="Article under the category Robotics">Robotics</a>,
         <a href="{% url 'post:categorised' 'artificial-intelligence'%}" title="Article under the category Artificial Intelligence">Artificial Intelligence</a>,
         {% comment %} <a href="{% url 'post:categorised' 'augumented-reality'%}" title="Article under the category Augumented Reality">Augmented Reality</a>,  {% endcomment %}
         {% comment %} <a href="{% url 'post:categorised' 'games'%}" title="Article under the category Games">Games</a>,  {% endcomment %}
         and many more. Most articles will fall under the real of  <a href={% url "post:post-detail" 2020 1 6 'the-importance-of-steam-education' %} title="Science, Technology, Engineering, Arts and Mathematics">STEAM</a>(Science, Technology, Engineering, Arts and Mathematics).
    </p>

    <p>We aim to become your one-stop destination for most technology-related curiosities.</p>

    <p>The <a href="{% url 'post:featured-posts' %}" title="Featured">featured</a> section contains the editor's pick for our readers. They can explore <a href="#trending-posts" title="Trending articles">trending</a>, <a href="#latest-posts" title="Latest articles">latest</a> articles.</p>

    <p>There are different <a href="{% url 'post:all-categories' %}" title="all categories">categories</a> to explore. There are
     <a href="{% url 'post:tagged' 'cheatsheet' %}" title="cheatsheets">cheatsheets</a>
    on various tools, tutorial series for various concepts, advice for following best practices while developing different open source software, web applications, tools, cross-platform software, etc. Each article has a category along with a couple of <a href="{% url 'post:all-tags' %}" title="all tags">tags</a>.</p>

    <img class="about-page-kids" src="{% static 'post/img/kids-in-steam-programs.jpg' %}">
    <p>We also have a section dedicated to <a href="{% url 'post:categorised' 'kids' %}" title="Articles for kids">kids</a>. Since they are bound to become the leaders of tomorrow, we aim to develop their interest in the field of STEAM. The kid section looks to explore with the practices that make learning STEAM an enjoyable experience.</p>

    <p>Readers may also <a href="{% url 'login' %}" title="Login">Log in</a> and bookmark their favorite articles.</p>

    <p>Currently, we have not opened the forum for accepting articles from people outside our team. We would love to broaden our team of hackers. We are working on that front. Till then, in case you are interested, you may apply at <a href="mailto:thehackadda.com@gmail.com">thehackadda@gmail.com</a> with the <strong>Subject: Application for the post of writer</strong>.</p>

    <p>We look forward to hearing from you.</p>
</article>

{% endblock content %}
