{% if type == "horizontal" %}
    <!-- horizontal ad -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2992032334792000"
        data-ad-slot="3651337108"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{% elif type == "square" %}
    <!-- square ad -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2992032334792000" data-ad-slot="1428498442" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{% elif type == "vertical"%}
    <!-- vertical ad -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-2992032334792000"
        data-ad-slot="6844476657"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{% endif %}
