{% load cool_view %}
{% load cool_timesince %}
{% for post in posts %}
<div class="container-fluid">
    <div class="row no-gutters media content-section article-list">
        <div class="article-thumbnail col-md-3">
            <img src="{{ post.thumbnail.url }}" alt="{{post.title}}" title="{{post.title}}">
        </div>
        <div class="details col-md-9">
            <div class="media-body article-contents">
                <div class="article-details">
                    <h2><a class="article-title" href="{% url 'post:draft-post-update' post.slug %}" title="{{post.title}}">{{ post.title }}</a></h2>
                    {% comment %} <p class="article-short-des">{{ post.short_des|truncatewords_html:'50'|safe }}</p> {% endcomment %}
                    <div class="article-short-des">
                        {{ post.content|truncatewords_html:'35'|safe }}&nbsp;
                        <a style="display:inline-block" href="{% url 'post:draft-post-update' post.slug %}" title="Read full article">Read more</a>
                    </div>
                    <div class="tags">
                        {% include "tags.html" with tags=post.get_tags_list %}
                    </div>
                    <div class="article-metadata">
                        <small><a class="mr-2" href="{% url 'post:author-posts' post.author.username %}" title="{{post.author.get_full_name}}">{{ post.author.get_full_name|title|truncatechars:'30' }}</a></small>
                        <small class="mr-2 text-muted" title="{{ post.date_published|date:"j M Y" }}">{{ post.date_published|cool_timesince }}</small>
                        <small class="text-muted ml-4" title={{ post.views }}>views:{{ post.views|cool_view }}</small>
                    </div>
                </div>
            </div>
        </div>
    {% comment %} {% include "share.html" %} {% endcomment %}
    </div>
</div>
{% endfor %}
