{% load static from staticfiles %}
{% load meta %}
{% load extra_auth %}
<!DOCTYPE html>
<html lang="en">

    <head {% meta_namespaces %}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% include 'meta/meta.html' %}
        <link rel="canonical" href="{{request.build_absolute_uri}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Rubik|Lato&display=swap">
        <link rel="stylesheet" type="text/css" href="{% static 'Blog/main.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="196x196" href="{% static "favicon-192.png" %}">
        <link rel="icon" type="image/png" sizes="160x160" href="{% static "favicon-160.png" %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon-96.png" %}">
        <link rel="icon" type="image/png" sizes="64x64" href="{% static "favicon-64.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16.png" %}">
        <link rel="apple-touch-icon" href="{% static "favicon-57.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon-114.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon-72.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon-144.png" %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon-60.png" %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon-120.png" %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon-76.png" %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon-152.png" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon-180.png" %}">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content={% static "favicon-144.png" %}>
        <meta name="msapplication-config" content={% static "browserconfig.xml" %}>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% comment %} to prevent conflict it with autocomplete jquery. {% endcomment %}
        <script>var jq = $.noConflict();</script>
        <script>window.CSRF_TOKEN="{{ csrf_token }}"</script>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark navbar-color fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand mr-4" href="{% url 'Blog:home' %}" title="HackAdda"><svg id="brand" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 15" width="35" height="35" style=""><defs><style>.cls-1,.cls-2{fill:none;stroke:#fff;stroke-miterlimit:10;}.cls-1{stroke-width:2px;}.cls-2{stroke-width:1.63px;}</style></defs><line class="cls-1" x1="1" x2="1" y2="15"></line><line class="cls-1" x1="9" x2="9" y2="15"></line><line class="cls-2" x1="2" y1="4" x2="8" y2="4"></line><line class="cls-2" x1="2" y1="10" x2="8" y2="10"></line></svg></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        {% comment %} <a class="nav-item nav-link navbar-about" href="{% url 'Blog:about' %}" title="About">About</a> {% endcomment %}
                        <div class="navbar-nav ml-auto mr-auto navbar-categories">
                            <a class="nav-item nav-link" href="{% url 'Blog:categorised' 'coding' %}" title="Coding">Coding</a>
                            {% comment %} <a class="nav-item nav-link" href="{% url 'Blog:categorised' 'science' %}" title="Science">Science</a> {% endcomment %}
                            <a class="nav-item nav-link" href="{% url 'Blog:categorised' 'artificial-intelligence' %}" title="Artificial Intelligence">Artificial Intelligence</a>
                            <a class="nav-item nav-link" href="{% url 'Blog:categorised' 'robotics' %}" title="Robotics">Robotics</a>
                            <a class="nav-item nav-link" href="{% url 'Blog:categorised' 'kids' %}" title="Kids">Kids</a>
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav ml-auto mr-auto">
                            {% if user.is_authenticated %}
                            <div id="dropdown" class="dropdown">
                                {% comment %} <button class="dropbtn">{{user.first_name}}</button> {% endcomment %}
                                <a href="#" class="ml-3" title="Profile Options" data-toggle="dropdown"><img src="{{user.profile.image.url}}" alt="{{user.first_name}}" class="user-image"></a>
                                {% comment %} <i class="fa fa-caret-down"></i> {% endcomment %}
                                <div class="dropdown-menu">
                                    <p class="ml-1 mb-0">Signed in as <strong>{{user.username}}</strong><p>
                                    <a class="nav-item nav-link" href="{% url 'profile' %}" title="Edit profile">Edit Profile</a>
                                    {% if user|has_group:"editor" %}
                                    <a class="nav-item nav-link" href="{% url 'Blog:post-create' %}" title="New Post">New Post</a>
                                    <a class="nav-item nav-link" href="{% url 'Blog:my-posts' user 'draft' %}" title="My Post">My Posts</a>
                                    {% endif %}
                                    <a class="nav-item nav-link" href="{% url 'Blog:user-bookmarks' user %}" title="Bookmarks">Bookmarks</a>
                                    <a class="nav-item nav-link" href="{% url 'password-change' %}" title="Change Password">Change Password</a>
                                    <a class="nav-item nav-link" href="{% url 'logout' %}" title="Log Out">Log Out</a>
                                </div>
                            </div>
                            {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}" title="Login">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}" title="Register">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" id="main" style="{% block style_main %}{% endblock style_main %}">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="{% block cls_mainbar %}col-md-9{% endblock cls_mainbar %}">
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">
                                {{message}}
                            </div>
                            {% endfor %}
                        {% endif %}
                        {% if exception %}
                        <p>{{ exception }}</p>
                        {% endif %}
                        <div id="response">
                        </div>
                        {% block content %}
                        {% endblock content %}
                    </div>
                    {% block sidebar %}
                    {% include "./base_sidebar.html" %}
                    {% endblock sidebar %}
                </div>
            </div>
        </main>
        {% include "./footer.html" %}
        <script src="{% static 'Blog/main.js' %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156068094-1"></script>
        <script>
            if (document.location.hostname.search("hackadda.com") !== -1) {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-156068094-1');
            }
        </script>
    </body>
{% block extrabottom %}
{% endblock extrabottom %}

</html>
