<footer class="container-fluid mt-auto">
    <div class="row">
        <div class="col">
            <div class="subscription">
                <h5 id="noText">Stay updated with our latest articles and other stuff</h5>
                <div id="sub-response"></div>
                <form class="subForm" action="{% url 'Blog:subscription' %}" method="post">
                    {% csrf_token %}
                    <input id="email" type="email" name="email" placeholder="Enter Email.." required>
                    <button type="submit" class="btn btn-sm btn-outline-info subscribe" value="submit">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="contact" id="contact">
                <a href="mailto:thehackadda.com@gmail.com"><i class="fa fa-envelope"></i>
                    <h6 class="phone">thehackadda@gmail.com</h6>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="social-icons">
                <h5 class="footer-text-color">Let's Connect</h5>
                {% include "./social_icons.html" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="copyright">
                <h6><a href="{% url 'image-license' %}" title="Image License">Image License</a> | <a href="{% url 'privacy-policy' %}" title="Privacy Policy">Privacy Policy</a> | ©2020 HackAdda All rights reserved</h6>
            </div>
        </div>
        <div class="col">
            <div class="about">
                <a href="{% url 'Blog:about' %}" title="About HackAdda">About Us</a>
            </div>
        </div>
        <div class="col">
            <div class="made-with-love">
                <h6>Made with <i class="fa fa-heart"></i> from Tatarpur, Saidpur</h6>
            </div>
        </div>
    </div>
</footer>
