{% extends "Blog/base.html" %}
{% block content %}
{% comment %} {% include "post_list.html" %} {% endcomment %}
{% include "post_featured_home.html" with posts=featured_posts%}
{% include "post_latest_home.html" with posts=latest_posts %}
{% for category_name, category_posts in category.items %}
    {% url "Blog:categorised" category_name as category_url %}
    {% include "heading.html" with heading=category_name view_more_url=category_url %}
    <div class="category-articles article-list">
    {% include "post_list_home.html" with posts=category_posts %}
    {% comment %} {% include "Blog/advertisement.html" with type="horizontal"  %} {% endcomment %}
    </div>
{% endfor %}
{% comment %} {% include "paginate.html" %} {% endcomment %}
{% endblock content %}