{% extends 'Blog/base.html' %}
{% block content %}
<h1>Image License</h1>
<div>
    <p>Unless explicitly mentioned, HackAdda does not claim ownership rights over any of its images. We ourselves use images from other creators and make our best effort to credit the creator for them. In case, anyhow, we fail to credit the creator, we regret doing so. You may <a href="#contact" title="Contact HackAdda">contact</a> us in such cases and we will make our best effort to correct our mistake.</p>
    <p>For all other photos published on HackAdda(i.e. those that have created by us) can be used for free (unless explicitly mentioned otherwise). You can use them for commercial and noncommercial purposes (unless they are explicitly mentioned otherwise) . You do not need to ask permission from or provide credit to the photographer or HackAdda, although it is appreciated when possible.</p>
    <p>More precisely, HackAdda grants you an irrevocable, nonexclusive, worldwide copyright license to download, copy, modify, distribute, perform, and use photos from HackAdda for free(unless they are explicitly mentioned otherwise), including for commercial purposes, without permission from or attributing HackAdda.</p>
</div>
{% endblock content %}
