{% extends "Blog/base.html" %}
{% load static %}
{% block content %}
<div id="article-share-container">
<div id="share">
    {% include "share.html" %}
</div>


<div>
<article id="post-detail" class="content-section">
    <div class="media-body">
        <div class="article-metadata">
            {% comment %} <div class="article-img"> {% endcomment %}
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            {% comment %} </div> {% endcomment %}
            <div class="article-info">
                <a class="mr-2" href="{% url 'Blog:user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"j M Y" }}</small>
                <small class="text-muted">views: {{object.hit_count}}</small>
                {% if object.author == user %}
                    <div style="float:right">
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'Blog:post-update' object.slug %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'Blog:post-delete' object.slug %}">Delete</a>
                    </div>
                {% endif %}
                <div class="article-title">
                    <h2>{{ object.title }}</a></h2>
                </div>
            </div>
        </div>
        <p class="article-content">{{ object.content }}</p>
        {% include "tags.html" with tags=object.get_tags_list %}
    </div>
</article>
</div>
</div>
{% endblock content %}
