{% extends "Blog/base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Post</legend>
            <h2>Are you sure your want to delete the post "{{object.title}}"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Delete your post</button>
            <a class="btn btn-outline-secondary" href="{% url 'Blog:post-update' object.date_posted.year object.date_posted.month object.date_posted.day object.slug %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}