{% extends "Blog/base.html" %} {% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"j M Y" }}</small>
        </div>
        <h2 class="article-title">{{ post.title }}</a>
        </h2>
        <p class="article-content">{{ post.content }}</p>
        <p class="article-tags">{{ post.tags }}</p>
    </div>
</article>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <a class="btn btn-outline-info" href="{% url 'Blog:post-update' post.date_posted.year post.date_posted.month post.date_posted.day post.slug %}">Get back to edit</a>
        {% comment %} <button class="btn btn-outline-info ml-2" type="submit">Submit for review</button> {% endcomment %}
    </div>
</form>
{% endblock content %}