{% extends "Blog/base.html" %} {% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#" title="{{post.author.get_full_name}}">{{ post.author.get_full_name|title|truncatechars:'30' }}</a>
            {% if post.publish %}
            <small class="text-muted" title="{{ post.date_posted|date:"j M Y" }}">{{ post.date_posted|cool_timesince }}</small>
            {% else %}
            <small class="text-muted">Just now</small>
            {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content|safe }}</p>
        <p class="article-tags">{{ post.tags }}</p>
    </div>
</article>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <a class="btn btn-outline-info" href="{% url 'Blog:post-update' post.date_published.year post.date_published.month post.date_published.day post.slug %}" title="Get back to edit">Get back to edit</a>
        {% comment %} <button class="btn btn-outline-info ml-2" type="submit">Submit for review</button> {% endcomment %}
    </div>
</form>
{% endblock content %}