{% extends "post_list_generic.html" %}
{% block topcontent %}
    <div>
    {% if posts|length %}
        {% if flag_day %}
        <h3>Articles Posted on {{date|date:"D d M Y"}} </h3>
        {% elif flag_month %}
        <h3>Articles Posted in {{date|date:"M Y"}} </h3>
        {% else%}
        <h3>Articles Posted in {{date|date:"Y"}} </h3>
        {% endif %}
    {% else %}
        <h1>No articles were written in this period</h1> 
    {% endif %}  
        {% comment %} {% include "paginate_function.html" %} {% endcomment %}
    </div>
{% endblock topcontent %}

