{% extends "Blog/base.html" %}
{% load static from staticfiles %}
{% load cool_view %}
{% block content %}
<div id="article-share-container">
    <div id="share">
        {% include "share.html" %}
    </div>


    <div class="article-contents">
        <article id="post-detail" class="content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <div class="article-title">
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="article-info">
                        <a class="mr-2" href="{% url 'Blog:user-posts' post.author.username %}" title="{{post.author.get_full_name}}">{{ post.author.get_full_name|title|truncatechars:'30' }}</a>
                        <small class="text-muted mr-2" title={{ post.views }}>views: {{ post.views|cool_view }}</small>
                        <small class="text-muted mr-2" title="{{ post.date_published }}">Published: {{ post.date_published|date:"j M Y" }}</small>
                        {% if post.date_published != post.last_updated %}
                        <small class="text-muted date-modified" title="{{ post.last_updated }}">Last modified: {{ post.last_updated|date:"j M Y" }}</small>
                        {% endif %}
                        {% if post.author == user and user.is_staff %}
                            <div id="post-options">
                                <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-2" href="{% url 'Blog:post-update' post.date_published.year post.date_published.month post.date_published.day post.slug %}" title="Update">Update</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1 ml-2" href="{% url 'Blog:post-delete' post.date_published.year post.date_published.month post.date_published.day post.slug %}" title="Delete">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="article-image">
                    <img src="{{post.image.url}}" alt="{{post.title}}">
                </div>
                <div class="article-content">{{ post.content|safe }}</div>
                {% include "tags.html" with tags=post.get_tags_list %}
            </div>
        </article>
    </div>
</div>
<div id="recommended-posts" class="article-contents content-section">
</div>
{% comment %} For requesting recommended posts {% endcomment %}
<script>
    const id ='#recommended-posts';
    const data = {slug:'{{post.slug}}', top_n:3};
    url = "{% url 'Blog:recommended-posts' %}";
    $.post(url, { data: JSON.stringify(data), 'csrfmiddlewaretoken': window.CSRF_TOKEN }, function(response) {
        $(id).append(response);
    });
</script>
{% endblock content %}
