{% extends "Blog/base.html" %}
{% block content %}

<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            {{ form.media }}
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            {% comment %} <button class="btn btn-outline-info" type="submit">Preview your post</button> {% endcomment %}
            <button class="btn btn-outline-info ml-2" type="submit">Submit for review</button>            
        </div>
    </form>
</div>
{% endblock content %}