{% extends "Blog/post_detail.html" %}
{% block post_options %}{% endblock post_options %}
{% block post_status_form %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {% if user.is_superuser %}
        <button class="btn btn-info ml-auto mr-auto" style="display:block;" type="submit">Publish</button>
        {% else %}
        <button class="btn btn-info ml-auto mr-auto" style="display:block;" type="submit">Submit for review</button>
        {% endif %}
    </div>
</form>
{% endblock post_status_form %}
{% block comment_and_recommended_posts %}{% endblock comment_and_recommended_posts %}
