<div id="sidebar" class="col-md-3 content-section">
    <ul class="list-group">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="trending-posts-tab" data-toggle="tab" href="#trending-posts" role="tab" aria-controls="trending-posts" aria-selected="true" title="Trending Posts">Trending Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="latest-posts-tab" data-toggle="tab" href="#latest-posts" role="tab" aria-controls="latest-posts" aria-selected="false" title="Latest Posts">Latest Posts</a>
            </li>
        </ul>
        <div class="tab-content list-group-item list-group-item-light">
            <li id="latest-posts" class="tab-pane fade" role="tabpanel" aria-labelledby="latest-posts-tab" data-url='{% url "Blog:latest-posts" %}'></li>
            <li id="trending-posts" class="tab-pane fade show active" role="tabpanel" aria-labelledby="trending-posts-tab" data-url='{% url "Blog:trending-posts" %}'></li>
        </div>
        <li id="popular-tags" class="list-group-item list-group-item-light" data-url='{% url "Blog:all-tags" %}'>Popular Tags
            <br></li>
        <li id="popular-categories" class="list-group-item list-group-item-light" data-url='{% url "Blog:all-categories" %}'>Popular Categories<br></li>
    </ul>
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    {% comment %} {% include "Blog/advertisement.html" with type="square" %} {% endcomment %}
</div>