{% extends "Blog/base.html" %}
{% block content %}
{% if page_obj.paginator.count %}
    <div class="row {{profile}} content-section mt-0">
        <div class="avatar col-12 col-lg-3 col-xs-12 col-md-3 pr-3">
            <img class="user-img" src="{{ author.profile.image.url }}" alt="{{ author.first_name }} {{ author.last_name }}">
        </div>
        <div class="profile-info col-12 col-lg-9 col-xs-12 col-md-9 mt-1 pr-3">
            <ul class="list-unstyled ml-5 pr-3">
                <li class="user-name mt-2 account-heading">
                    {{ author.first_name }} {{ author.last_name }}
                </li>
                <h4 class="user-bio mb-2">
                    {{ author.profile.bio }}
                </h4>
                {% if author.profile.public %}
                <li class="user-email mt-2">
                    <span><i class="fa fa-envelope fa-fw mr-2"></i>{{ author.email }}</span>
                </li>
                {% endif %}
                {% if author.profile.location %}
                <li class="user-location mt-2">
                    <span><i class="fa fa-map-marker fa-fw mr-2"></i>{{ author.profile.location }}</span>
                </li>
                {% endif %}
                {% if author.profile.website %}
                <li class="user-website mt-2">
                    <span>
                        <i class="fa fa-external-link fa-fw mr-2"></i><a href="{{author.profile.website}}" target="_blank">{{ author.profile.website }}</a>
                    </span>
                </li>
                {% endif %}
                <li class="user-join-date mt-2">
                    <span>
                    <i class="fa fa-history fa-fw mr-2"></i>Joined {{ author.profile.join_date|date:"M Y" }}<li>
                </span>
                {% if author == user %}
                    <a class="edit-icon btn btn-md mt-2 mb-1 float-right" href="{% url 'profile' %}" title="update profile info">
                        <i class="fa fa-edit" style="font-size:1.5rem"></i>
                    </a>
                {% endif %}
            </ul>
        </div>
    </div>
    <h3 class="mb-3">Total Posts ({{ page_obj.paginator.count }})</h3>
    {% include "post_list.html" %}
    {% include "paginate.html" %}
{% else %}
<h4 class="mt-5">There are no posts here.
    {% if author == user %}
    Try writing some <a class="" href="{% url 'Blog:post-create' %}">Posts</a>
    {% endif %}
</h4>
{% endif %}
{% endblock content %}