{% extends 'Blog/base.html' %}
{% load extra_auth %}
{% block content %}
{% if page_obj.paginator.count %}
    <h3 class="mb-3">Total Posts ({{ page_obj.paginator.count }})</h3>
    {% if unpublished_posts %}
        <legend>Unpublished</legend>
        {% include "post_list_home.html" with posts=unpublished_posts %}
    {% endif %}
    {% if published_posts %}
        <legend>Published</legend>
        {% include "post_list_home.html" with posts=published_posts %}
    {% endif %}
    {% include "paginate.html" %}
{% else %}
{% comment %} Currently, this information is shown only to editors/staff {% endcomment %}
{% if user|has_group:"Editor" %}
<h5 class="mt-5">There are no posts here.{% if author == user %}Try writing some <a class="" href="{% url 'Blog:post-create' %}" title="Write a Post">Posts</a>{% endif %}</h5>
{% endif %}
{% endif %}
{% endblock content %}
